
body {
  background-image: url("https://thumbs.dreamstime.com/b/set-different-cosmetics-make-up-set-different-makeup-cosmetics-blue-background-space-text-232561878.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav{
  background-color: rgba(172, 179, 245, 0.686);
  color: white;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a{
  color: inherit;
  text-decoration: none;
}

.homepage h1{
  font-size: 4rem;
  text-align: center;
  color: white;
}
